.navbar{
    background-color:white;
    // color: black;
    width:100%;
    display: flex;
    align-items: flex-end;
    height: 160px;
    margin:auto;

    .navbar-item{
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        float:right;
        width: auto;
        margin:auto;
        font-size: 20px;
    }

    .company-logo{
        height: 170px;
        width:200px;
        padding-top:100px;
        background-size: auto;
    }

    .navbar-item:hover{
        border-bottom: 3px solid #FFCC04;
    }

    a,navbar-item{
        color: black;
    }

    a:hover{
        color: #024BAD;
        // font-size: 20px;

    }

}
